<!DOCTYPE html>
<html>
    {{>header}}   
    <body>
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Admin Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graph">Live Graph</a>
                </li>
            </ul>
        </nav>
        <br>
        
        <div class="container-fluid">
            <div class="headerContainer">
                <h1>Live Noise Monitoring</h1>
            </div>

            <div class = "wait">
                <h4 class="text-danger">{{message}}</h4>
            </div> 
        </div>
    </body>
</html>