.headerContainer{
    width: 500px;
    height:80px;
}
/* 
h1 {
    background-color: rgb(62, 136, 93);
}

.wait {
    width:90%; 
    height:200px;
    background-color: rgb(0, 183, 255);
} */

.loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(230, 230, 43);
    border-right: 16px solid rgb(37, 37, 177);
    border-bottom: 16px solid rgb(230, 230, 43);
    border-left: 16px solid rgb(37, 37, 177);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.graphContainer{
    /* border-style: solid;
    border-width: 1px; */
    width:90%; 
    height:600px; 
}

